.Dec-activity{
	width: 100%;
	height: auto;
	background:url(images/img5/bg_02.jpg)no-repeat center; 
	background-size: cover;
}
.Dec-activity .dec-head{
	width: 100%;
	height: 640px;
	background: url(images/img5/banner_01.jpg)no-repeat center;
}
.section-one.apr,.section-two.apr,.section-three.apr {
    text-align: center;
    width: 100%;
    height: auto;
    background-image: none;
    background-position-y: 900px;
}
.section{
	margin-bottom: 60px;
}
.section-two.apr {
	background-position-y: 168px;
}
.section-three.apr{
	background-position-y: 258px;
}
.section .title{
	margin-top: 50px;
	margin-bottom: 0;
}
.section .content{
	background-color: #73a6d8;
	
}
.section-one .content ul li.hb{
	float: left;
    width: 198px;
    height: 260px;
    background: url(../../img/infomation/hb-bg.png) no-repeat center;
    text-align: center;
    margin-bottom: 44px;
    position: relative;
    z-index: 3;
    background-size: contain;
}
.section-one .content ul{
	width: 1100px;
    height: auto;
    margin: 30px auto 0;
    padding: 44px 0px;
}
.section-one .content ul li.hb{
	margin-bottom: 110px;
}
.section-one .content ul li.hb p.des{
	font-size: 13px;
    color: #fff;
    margin-top: 28px;
}
.section-one .content ul li.hb:nth-child(1){
	margin-left: 130px;
}
.section-one .content ul li.hb:nth-child(2){
	margin:0 146px;
}
.section-one .content ul li.hb:nth-child(5),.section-one .content ul li.hb:nth-child(6),.section-one .content ul li.hb:nth-child(7){
	margin-right: 0;
	margin-left: 100px;
}
.section .content .title{
	margin-top: 0;
}
.section-one .content ul li.hb p.zhuce a{
	display: block;
    width: 128px;
    height: 32px;
    background: #ffe400;
    font-size: 14px;
    color: #f03838;
    line-height: 32px;
    text-align: center;
    border-radius: 20px;
    margin: 18px auto;
}
.section-one .content ul li.hb p.money{
	font-size: 70px;
	font-weight: bolder;
}
.section .content .tip{
	bottom: 53px;
	text-align: right;
}
.section .content .tip .text{
	background: #f7d325;
	font-size: 16px;
	color: #FF0000;
}
.section-three .sign .bg{
	height: 428px;
	background: url(images/img5/sign-bg_02.png) no-repeat center;
}
.instruction .des-bg{
	background: url(images/img4/des-bg.png) no-repeat center;
	position: relative;
}
.instruction p{
	position: relative;
}
.bottom-bg{
	margin-top: -72px;
}
.instruction{
	height: 600px;
}
.section .title img{
	width: 680px;
    height: 433px;
}
