.payment-password{
	width: 938px;
	height: 329px;
	border: 1px solid #ddd;
	margin-top: 30px;
}
.payment-password .set-step{
	width: 675px;
    margin: 40px auto;
    text-align: center;
}
.payment-password .set-step .step{
	float: left;
    width: 84px;
    text-align: center;
    margin-left: -31px;
}

.payment-password .set-step .step.active{
	
}
.payment-password .set-step .step p{
	line-height: 30px;
	font-size: 14px;
	color: #aaa;
}
.payment-password .set-step .line{
	float: left;
    width: 288px;
    height: 2px;
    background: #aaa;
    margin-left: -31px;
    margin-top: 10px;
}
.payment-password .set-step .line.over{
	background: #ff7f01;
}
.payment-password .set-step .step span{
	display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #aaa;
    text-align: center;
    line-height: 23px;
    margin: 0 auto;
    color: #fff;
}
.payment-password .set-step .step.active span{
	background: #ff7f01;
	
}
.payment-password .set-step .step.active p{
	color: #FF7F01;
}
.step-content{
	width: 675px;
    margin: 40px auto;
}
.step-content form{
	width: 500px;
	margin-left: 94px;
}
.step-content form .msg{
	height: 32px;
	margin-bottom: 10px;
}
.step-content form .msg .tit{
	font-size: 14px;
	color: #333;
}
.step-content form .msg input{
	width: 154px;
	padding-left: 10px;
	height: 32px;
	/*outline: none;*/
	background: #f5f5f5;
	border: none;
	margin-right: 5px;
	font-size: 14px;
}
.step-content form .msg input.img-code{
	width: 73px;
}
.step-content form .msg input.msg-code{
	width: 138px;
}

.step-content form .vert .vcode.pic{
	width: 58px;
	height: 30px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.step-content form .vert .vcode img{
	width: 100%;
	height: 100%;
}
.step-content form .vert .change{
	height: 32px;
	line-height: 32px;
	
	font-size: 14px;
	margin-left: 10px;
}
.step-content form .vert .change a{
	color: #666;
}
.step-content form .vert .vcode input[type='button']{
	border: none;
    outline: none;
    background: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #FF7F01;
    margin-left: 5px;
    cursor: pointer;
}
.step-content form .next-step{
	width: 94px;
	height: 28px;
	margin: 14px auto;
	background: #FF7F01;
	color: #FFF;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	border: none;
	outline: none;
	display: block;
}
.step-content .step-list.szcg{
	text-align: center;
}
.step-content .step-list.szcg p{
	font-size: 18px;
	color: #333;
}
.step-content .step-list.szcg p span{
	display: inline-block;
	width: 57px;
	height: 57px;
	background: url(../../img/account/ok.png) no-repeat center;
	vertical-align: middle;
	margin-right: 10px;
}

.step-content .step-list.szcg a{
	display: block;
	width: 94px;
	height: 28px;
	background: #ff7f01;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	margin: 60px auto;
}
